params {
    out_dir = "/vast/scratch/users/zeglinski.k/test_multi_sample/"
    fastq_dir = "/vast/scratch/users/zeglinski.k/test_multi_sample/reads/"
    sample_sheet = "/vast/scratch/users/zeglinski.k/test_multi_sample/sample_sheet.csv"
    help = false
    igblast_databases = "$projectDir/igblast_refs/"
    adapter_r1 = "AGATCGGAAGAGCACACGTCTGAACTCCAGTCA"
    adapter_r2 = "AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT"
    maximum_overlap = 250
    chunk_size = 25000
    enable_conda = false
    template_dir = "$projectDir/modules/report/_template.tar"
    extensions_dir = "$projectDir/modules/report/_extensions.tar"
    quarto_base_yaml = "$projectDir/modules/report/template_quarto.yml"
    sequence_trim_5p = "CAGGTGCAGCTGCAG"
    sequence_trim_3p = "GGTCACCGTCTCCTCA"
}

// change these as required!
process {
    executor = 'slurm'
    cache = 'lenient'
    withLabel: process_low {
        cpus = 4
        memory = '16G'
    }

     withLabel: process_medium {
        cpus = 8
        memory = '32G'
    }

    withLabel: process_high {
        cpus = 16
        memory = '64G'
    }

}

executor {
    name = 'slurm'
    queueSize = 100
    queueStatInterval = '10 sec'
    pollInterval = '10 sec'
    submitRateLimit = '10sec'
}

profiles {
    // the "standard" profile is used implicitely by nextflow
    // if no other profile is given on the CLI
    standard {
        docker {
            enabled = true
            // this ensures container is run as host user and group, but
            //    also adds host user to the within-container group
            runOptions = "--user \$(id -u):\$(id -g) --group-add 100"
        }
    }

    // using singularity instead of docker
    singularity {
        singularity {
            enabled = true
            autoMounts = false
            runOptions = '-B /vast -B /stornext -B /wehisan'
        }
    }

    conda {
        enabled = false // required for 22.08
        cacheDir = ""
        useMamba = true
        docker.enabled = false
    }

    // local profile for simplified development testing
    local {
        process.executor = 'local'
    }
}
